@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

@font-face {
  font-family: 'Boldonse';
  src: url('/assets/fonts/Boldonse-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #000000;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.nocursor {
  cursor: none;
}
.wcursor {
  cursor: pointer;
}

/* CSS */
/* Hide the scrollbar track */
::-webkit-scrollbar {
  width: 2px;
  /* Set the width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #6e604d;
  /* Set the color of the scrollbar thumb */
  border-radius: 5px;
  /* Set the border-radius for rounded corners */
}

/* Optionally, you can style the scrollbar track background (though it's invisible in this case) */
::-webkit-scrollbar-track {
  background-color: #141414;
  /* Set the background color of the scrollbar track to make it invisible */
}
.bgblur {
  /* From https://css.glass */
  background: rgba(133, 116, 93, 0.3);
  backdrop-filter: blur(10px);
  will-change: backdrop-filter;
}
.bgblurc {
  /* From https://css.glass */
  background: rgba(133, 116, 93, 0.066);
  backdrop-filter: blur(3px);
  will-change: backdrop-filter;
}

.bgblur2 {
  /* From https://css.glass */
  background: rgba(49, 42, 34, 0.3);
  backdrop-filter: blur(10px);
  will-change: backdrop-filter;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 500px rgba(0, 0, 0, 5) inset;
}

#globalLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}
@layer utilities {
  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }

  .animate-aurora {
    animation: aurora 60s linear infinite;
  }
}

@layer utilities {
  :root {
    --animate-first: moveVertical 30s ease infinite;
    --animate-second: moveInCircle 20s reverse infinite;
    --animate-third: moveInCircle 40s linear infinite;
    --animate-fourth: moveHorizontal 40s ease infinite;
    --animate-fifth: moveInCircle 20s ease infinite;
  }

  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  /* Example usage class */
  .animate-first {
    animation: var(--animate-first);
  }

  .animate-second {
    animation: var(--animate-second);
  }

  .animate-third {
    animation: var(--animate-third);
  }

  .animate-fourth {
    animation: var(--animate-fourth);
  }

  .animate-fifth {
    animation: var(--animate-fifth);
  }
}
