@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Sofia Sans', sans-serif;
}

.bgl {
  background: rgb(20, 26, 41);
}

.bgd {
  background: rgb(12, 15, 26);
}

.bgdl {
  background: rgb(32, 43, 55);
}

.bglb {
  background: rgb(0,
      240,
      255);
}

.txt1 {
  color: rgb(0, 240, 255);
}

.txt1d {
  color: rgb(0, 116, 123);
}