@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Sofia Sans', sans-serif;
  cursor: none;
}

.bgl {
  background: rgb(20, 26, 41);
}

.bgd {
  background: rgb(12, 15, 26);
}

.bgdl {
  background: rgb(32, 43, 55);
}

.bglb {
  background: rgb(0,
      240,
      255);
}

.txt1 {
  color: rgb(0, 240, 255);
}

.txt1d {
  color: rgb(0, 116, 123);
}

.sopay {

  background-image: url('/S.png');
  background-size: cover;

}

.custom-cursor {
  /* cursor: url('/assets/cursor.png'), auto; */
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.cursor-text {
  font-size: 5px;
  font-weight: 900;
  letter-spacing: 1px;
  display: none;
}

button {
  cursor: none;
}

a {
  cursor: none;
}